header {
	height: 6.4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--light-gray);
	position: fixed;
	top: 0;
	width: calc(100% - (var(--global-side-padding) * 2));
	background: white;
	z-index: 100;
	padding: 0 var(--global-side-padding);

	.logo {
		height: 2.5rem;
	}

	nav {
		height: 100%;
		display: flex;
		align-items: center;

		a {
			margin: 0 1.2rem;
			padding: 2rem 0;
			color: var(--gray);
			font-size: 1.4rem;
			font-weight: 400;
			text-decoration: none;
			border-bottom: 2px solid transparent;

			&.active {
				color: var(--primary);
				border-color: var(--primary);
			}

			&:hover {
				color: var(--second);
			}
		}
	}

	.vegie-menu {
		height: 27px;
		display: flex;
		align-items: center;
		z-index: 1000;

		opacity: 0;
		visibility: hidden;

        &.on {
            .icon {
                transform: rotate(45deg);

                &::before {
                    transform: rotate(-90deg);
                }
            }
        }

		.icon {
			background: var(--primary);
			height: 2px;
			width: 27px;
			display: block;
			transform: translateY(-5px);
            transition: .5s easy-in-out all;

			&::before {
                transition: .5s easy-in-out all;
                content: "";
				background: var(--primary);
				content: "";
				background: var(--primary);
				height: 2px;
				width: 27px;
				display: block;
				margin-top: 0px;
				transform: translateY(10px);
			}
		}
	}
}
