main {
	padding: 6.5rem 12.3rem 0;

	.start {
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: calc(100vh - 6.5rem);

		.content {
			width: 32rem;

			.button {
				margin-top: .8rem;
			}
		}

		.image {
			position: relative;

			* {
				border-radius: .5rem;
			}

			span {
				height: 37.5rem;
				width: 56.1rem;

				z-index: -1;
				position: absolute;
				top: -6rem;
				right: -6rem;

				background: var(--second);
			}
		}
	}

	.about-us {
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: calc(100vh - 6.5rem);

		.content {
			width: 64rem;
		}

		.image {
			left: 0;
			position: relative;
			//margin-left: -12.8rem;

			* {
				border-radius: .5rem;
			}

			span {
				height: 41.2rem;
				width: 57.1rem;

				z-index: -1;
				position: absolute;
				top: -3rem;
				left: -3rem;

				background: var(--second);
			}
		}
	}
}
