.button {
	height: 4rem;
	width: 20rem;
    border: 0;
    outline: 0;
	border-radius: 0.3rem;
	color: white;
	background: var(--primary);
    transition: .1s ease-in-out;

	&:hover {
		background: var(--second);
	}

    &:active {
        transform: translateY(.1rem);
    }
}
